
/* breakpoint reflow changes */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media (max-width: 767px) {
  header {
    align-items: left!important;
    height: unset!important;
    padding: 0!important;
  }
  header .sz-logo {
    padding-left: 1rem!important;
    padding-right: 0!important;
  }
  header .sz-logo img {
    width: 115px!important;
  }
  header nav {
    margin-bottom: 0!important;
  }
  .page-title h1 {
    font-size: 1.8rem !important;
    white-space: nowrap;
  }
  #stack-cards .card-img {
    height: unset !important;
    display: inline-block !important;
    padding: 0 calc(50% - 150px) !important;
  }
  #stack-cards .card .card-body {
    min-height: auto !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  #stack-cards .card:hover {
    width: unset !important;
  }
  header .container-fluid {
    display: block !important;
    padding-top: .75rem;
  }
  header .navbar-collapse {
    /*padding-top: 2rem;*/
  }
}

body {
  font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;
}

/* header and navbar related*/
header {
  height: 140px;
}
header nav {
  display: flex;
  align-items: center;
}
header .container-fluid {
  display: flex;
}
header .sz-logo {
  padding-left: 3rem;
  padding-right: 4rem;
}
header .sz-logo img {
  width: 168px;
}
.navbar-toggler {
  margin-bottom: 20px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header nav a, header nav a:visited, header nav a:active {
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}

/* main title element*/
.page-title h1 {
  font-weight: 400;
  font-size: 2.8rem;
}
.page-title .lead {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
}

.container {
  max-width: 960px;
}

.nobr {
  white-space: nowrap;
}

/* middle stack cards */
#stack-cards {
  min-height: 620px;
}
#stack-cards .card {
  width: 100%;
  border-radius: .75rem;
  border: none;
  margin-top: .6rem;
  margin-bottom: 0 !important;
  transition: 
    width .1s ease-out, 
    margin-top 0.2s ease-out;
}
/* link underline */
#stack-cards .card,
#stack-cards .card:visited,
#stack-cards .card:hover,
#stack-cards .card:active {
  text-decoration: none;
}

#stack-cards .card:hover {
  margin-top: 0;
  width: 102%;
  cursor: pointer;
}
#stack-cards .card:hover .card-body {
  min-height: 270px;
}
#stack-cards .card:hover.with-recommended-badge .card-body {
  min-height: calc(270px - 2rem - .6rem);
}

#stack-cards .card-header {
  text-transform: uppercase;
  white-space: nowrap;
  padding: 1.5rem 1rem;
}
#stack-cards .card-header h6 {
  color: #212529;
  font-weight: 600;
  font-size: .97rem;
  letter-spacing: .05rem;
}

#stack-cards .card-body {
  min-height: 250px;
  text-align: left;
  line-height: 2rem;
  font-size: 1rem;
  background-color: #fafafa;
  color: #28292e;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  transition: min-height 0.1s linear;
}
#stack-cards .card.with-recommended-badge .card-body {
  min-height: calc(250px - 2rem - .6rem);
}
#stack-cards .card-img {
  display: block;
  height: 180px;
  width: auto;
  background-color: #252525;
}
/*
#stack-cards .card-img-3 {
  padding: 30px 50px;
}*/
#stack-cards .card-footer {
  display: block;
  background-color: #0273d0;
  text-transform: uppercase;
  font-size: .95rem;
  font-weight: 600;
  letter-spacing: .15rem;
}
/* card recommended badge */
#stack-cards .card-recommended {
  color: #212529;
  background-color: #eaeaea;
  border: none;
  font-size: .7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
  padding-top: .8rem;
  padding-bottom: .8rem;
}
#stack-cards .star-entity {
  color: #ffd305;
  font-size: 2rem;
  height: 1rem;
  line-height: 1rem;
  margin-right: .5rem;
  margin-top: -.4rem;
}
/* bottom and top rounded corners */
#stack-cards .card-header:first-child {
  border-radius: calc(.75rem - 1px) calc(.75rem - 1px) 0 0;
}
#stack-cards .card-footer:last-child {
  border-radius: 0 0 calc(.75rem - 1px) calc(.75rem - 1px);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* jumbotron related */
#jumbotron-1 {
  background-color: #f6f6f6;
}
#jumbotron-1 .display-6 {
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 3rem;
  text-align: center;
}
.pt-md-6 {
  padding-top: 4rem !important;
}
.pb-md-6 {
  padding-bottom: 4rem !important;
}
.mb-md-6 {
  margin-bottom: 4rem !important;
}